<div class = "col-4 pb-4">
    <div class = "card">
	<div class = "card-body">
	    <h4 class = "card-title">
		<%= link_to delicacy.name, city_delicacy_path(delicacy.city, delicacy) %>
	    </h4>
	    <p class = "card-text">
		<%= delicacy.desc %>
	    </p>
	</div>
    </div>
</div>
