<div class = "col-4 pb-4">
    <div class = "card animated zoomIn">
	<%= image_tag delicacy.image, class: "card-img-top", alt: "Card image cap", size: "300x300"%>
	<div class = "card-body">
	    <h4 class = "card-title text-primary">
		<%= link_to delicacy.name, city_delicacy_path(delicacy.city, delicacy) %>
	    </h4>
	    <p class = "card-text">
		<%= delicacy.desc %>
	    </p>
	    <%= link_to "View product", delicacy_path(delicacy), class: "btn btn-primary"%>
	</div>
    </div>
</div>
