<img src="/home/vilalluz/the-disappointments/app/assets/images/map.jpg" class="img-fluid" alt="Responsive image">


<div class = "container" id="padding-default-top">
  <div class = "card">
    <div class="card-header">
      Wumbo
    </div>
    <div class = "card-body">
      <h4 class = "card-title">
        Fucking kill me
	    </h4>
	    <p class = "card-text">
		      What the fuck
	    </p>
	   </div>
   </div>
</div>
