<div class = "container animated zoomIn" id = "padding-default-top">
    <div class = "col-md-12">
	<div class = "card">
	    <div class = "card-body">
		<h3 class = "card-title">
		    <%= @region.name %>
		</h3>
	    </div>
	</div>
    </div>
    <h4 class = "text-center py-4">Places in <%= @region.name %></h4>
    <div class = "card-deck">
	<%= render @region.cities %>
    </div>
</div>
